[submodule "docs/v0.1"]
	path = docs/v0.1
	url = https://github.com/chtiangg/slsa.git
	branch = test/v0.1
[submodule "docs/v1.0"]
	path = docs/v1.0
	url = https://github.com/chtiangg/slsa.git
	branch = test/v1.0
